env.db.host=dbhost
env.db.port=3306
env.db.name=dbname
env.db.username=dbuser
env.db.password=dbpass

env.mail.host=smtp.gmail.com
env.mail.port=587
env.mail.username=some@email.address.dmn
env.mail.password=somepass